@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root {
    --color-primary: #f6aca2;
    --color-secondary: #f49b90;
    --color-tertiary: #f28b7d;
    --color-quaternary: #f07a6a;
    --color-quinary: #ee6352;
    --border: #fff;
    --color-secao-primary: #bbecfb;
    --color-secao-secundary: #37c1eb;
  }
  
  .banner {
    background-color: #fff;
    background-image: url('/public/imagens/book-banner-2.jpg');
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .banner h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    text-transform: uppercase;
    font-family: bungee, sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    color: var(--color-primary);
    animation: shadows 1.3s ease-in infinite;
    letter-spacing: 0.4rem;
    -webkit-text-stroke: 1.5px var(--border);
  }
  
  @keyframes shadows {
    0% {
      text-shadow: none;
    }
    10% {
      transform: translate(-3px, -3px);
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    20% {
      transform: translate(-6px, -6px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    30% {
      transform: translate(-9px, -9px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    40% {
      transform: translate(-12px, -12px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    50% {
      transform: translate(-12px, -12px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    60% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    70% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    80% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    90% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    100% {
      text-shadow: none;
    }
    
  }

  @media screen and (max-width: 768px) {

    .banner h1 {
        font-size: 2rem;
    }
}